.header {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 4rem 8rem;
  border-bottom: solid #36383a 5px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 15rem;
    padding: 4rem 4rem;
  }
  @media only screen and (max-width: 480px) {
    margin-bottom: 10rem;
    padding: 2rem 0;
  }
  &__content {
    &--logo {
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 1rem;
      & > img {
        filter: invert(1);
        height: 4rem;
      }
    }
    &--social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      & > a {
        color: #ff986e;
        z-index: 4;
        text-decoration: none;
        font-size: 2.4rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
        border-radius: 50%;
        &:hover {
          background-color: #ff986e;
          color: white;
        }
      }
    }
  }
}
