@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button {
  background-color: #ff986e;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  text-align: center;
  border: solid #ff986e 5px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: transparent;
}

.button-container-2 {
  position: relative;
  overflow: hidden;
  border: 1px solid #ff986e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  button {
    width: 101%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.4rem;
    padding: 1.5rem 2rem;
    @include button(
      #ff986e,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
      3000%,
      100%,
      none,
      #fff
    );
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}

.mas {
  color: #ff986e;
  text-align: center;
  width: 101%;
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.4rem;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
